@import "tailwindcss";


@theme inline {
  --color-primary: #1e3a8a;
  --color-secondary: #3b82f6;
  --color-accent: #f97316;
  --color-background: #ffffff;
  --color-surface: #f8fafc;
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-border: #e5e7eb;
  --color-border-accent: #f97316;
}